* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hdr {
  width: 99vw;
  height: 99vh;
  min-height: 485px;
  float: left;
  background: url("https://images.unsplash.com/photo-1614624532983-4ce03382d63d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80")
    no-repeat;
  background-size: cover;
  background-position: center center;
  transition: all 0.3s ease-in;
  animation-name: bgChange;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes bgChange {
  0% {
    opacity: 1;
    filter: grayscale(0%);
  }

  50% {
    opacity: 0;
    transform: rotateY(90deg);
  }

  100% {
    opacity: 1;
    filter: grayscale(100%);
  }
}